@model ICollection<Process>

<div class="block-header">
    <h2>
        PROCESSES PAGE

    </h2>
</div>
<!-- Basic Examples -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    PROCESSES
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="myTable">
                        <thead>
                            <tr>
                                <th>Process Name</th>
                                <th>Id</th>
                                <th>SI</th>
                                <th>WS</th>
                                <th>PM</th>
                                <th>NPM</th>
                                <th>Handles</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Process Name</th>
                                <th>Id</th>
                                <th>SI</th>
                                <th>WS</th>
                                <th>PM</th>
                                <th>NPM</th>
                                <th>Handles</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var process in Model)
                            {
                                <tr>
                                    <td>@process.Name</td>
                                    <td>@process.Id</td>
                                    <td>@process.SI</td>
                                    <td>@process.WS</td>
                                    <td>@process.PM</td>
                                    <td>@process.NPM</td>
                                    <td>@process.Handles</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
